appdirs==1.4.4
base58==2.1.1
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.2
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==7.1.2
cloudscraper==1.2.71
colorama==0.4.6
coloredlogs==15.0.1
commonmark==0.9.1
crashtest==0.4.1
cryptography==44.0.0
distlib==0.3.9
dulwich==0.22.7
english-dictionary==1.0.24
Faker==33.1.0
fastjsonschema==2.21.1
filelock==3.16.1
humanfriendly==10.0
idna==3.10
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
keyring==25.6.0
loguru==0.5.3
more-itertools==10.6.0
msgpack==1.1.0
name-that-hash==1.10.0
packaging==24.2
pkginfo==1.12.0
platformdirs==4.3.6
plotext==5.3.2
pluggy==1.5.0
poetry-core==2.0.1
py-enigma==0.1
pycparser==2.22
pyenigma==0.4.2
Pygments==2.18.0
pyparsing==3.2.1
pyproject_hooks==1.2.0
pytest==8.3.4
python-dateutil==2.9.0.post0
RapidFuzz==3.11.0
requests==2.32.3
requests-toolbelt==1.0.0
rich==9.13.0
search-that-hash==0.2.8
SecretStorage==3.3.3
shellingham==1.5.4
six==1.17.0
soupsieve==2.6
toml==0.10.2
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.1.10.15
typing-extensions==3.10.0.2
urllib3==2.3.0
virtualenv==20.28.1
